<div class="card">
  <div class="card-body">
    <div class="card-title">
      <p>
        <%= product.name %>
      </p>
    </div>
    <div class="card-text">
      <p>
        <small> <%= product.description %></small>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to "View Product", product_path(product) %>
    </div>
  </div>
</div>