<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Keep Shopping', products_path, class: 'button is-warning' %>
</div>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody>
      <%= render(@cart.line_items) %>
    </tbody>
  </table>
  <p><%= link_to "Proceed to checkout", new_order_path %></p>
  <p><%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %></p>
