<tr>
  <td><%=  admin_category.name  %></td>
  <td><%= link_to 'Edit', edit_admin_category_path(admin_category) %></td>
  <td><%= button_to 'Delete', admin_category_path(admin_category), method: :delete %></td>
</tr>