<h1 class="jumbotron">New Category</h1>

<div class="container">

    <%= bootstrap_form_for [:admin, @category], class: "form-horizontal" do |f| %>

        <%= f.text_field :name %><br />
        <%= f.button :submit%>
    
    <% end %>

    <%= link_to 'Back to Category List', admin_categories_path %>

</div>