<div class="row">
<%= render partial: "shared/product", collection: @products%>
</div>
<div class="row">
  <%= link_to "Add new product to Catalog", new_product_path, class: 'btn btn-primary' %>
</div>