<h1>Add new product to Catalog</h1>
<%= bootstrap_form_with model: @product, url: products_path, method: :post, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>