<h1 class="header">
  <%= @product.name.capitalize %>
</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <p>
        <%= @product.description %>
      </p>
      <p>
        <%= button_to 'Add to cart', line_items_path(:product_id => @product.id), class: 'button is-warning add-to-cart' %>
      </p>
    </div>
    <div class="card-footer">
    </div>
    <div class="card-footer">

      <%= link_to "Back to Product List", products_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>