<h1 class="header">
  <%= @product.name.capitalize %>
</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <p>
        <%= @product.description %>
      </p>
      <% if @cart.include?(@product)%>
      <p> Product In Cart </p>
      <% else %>
      <%= link_to 'Add to Cart', add_to_cart_path(@product.id), method: :post%>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to "Back to Product List", products_path%>
    </div>
  </div>
</div>